{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Accueil {% endblock %}

{% block body %}

    <section>
        <h2>Bienvenue a l'accueil</h2>

        <div>
            <p>Bonjour {{ name | capitalize }}</p>
        </div>
        <a href="{{ path('OC_advert_view', {'id' : 5 })}}">article 5</a>
    </section>

    <hr>

    <section>
        <h2>Annonces</h2>
        <ul>
            {% for advert in listAdverts %}
                <li>
                    <a href="{{ path('OC_advert_view', {'id' : advert.id}) }}">{{ advert.title }}</a>
                    par {{ advert.author}}, le {{ advert.date|date('d/m/Y') }}
                </li>
            {% else %}
                <li>Pas (encore !) d'annonces</li>
            {% endfor %}    
        </ul>
    </section>

{% endblock body %}