{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Annonce : {{ advert.id }} {% endblock %}

{% block body %}

    <section>
        

        <div>
            {# annonce #}
            <h2>{{ advert.title }}</h2>
            <i>Par {{ advert.author }}, le {{ advert.date|date('d/m/Y') }}</i>

            <div class="well">
                <p> Tag éventuel : {{ tag }}</p>
                <p>{{ checkIfSpam(advert.content) }}</p>

                <div>
                    {# categorie de l'annonce #}
                    {% if not advert.categories.empty %}
                        <p>
                            Cette annonce est paru dans les categorie suivantes : 
                            {% for category in advert.categories %}
                                {{ category.name}}
                                {% if not loop.last %} , {% endif %} {# pour ne pas mettre une virgule après le dernier mot#}
                            {% endfor %}    
                        </p>
                    {% endif %}
                </div>

                <div>
                    {# liste de compétences #}
                    {% if listAdvertSkills|length > 0 %}
                        <div>
                            <p> Cette annonce requiert les compétences suivantes : </p>

                            <ul>
                                {% for advertSkill in listAdvertSkills %}
                                    <li>{{ advertSkill.skill.name }} </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>

            
            {# image de l'annonce #}
            {% if advert.image is not null %}
                <img src="{{ asset(advert.image.webPath) }}" alt="{{ advert.image.alt }}">
            {% endif %}
        </div>    

        <p>
            <a href="{{ path('OC_advert_index') }}" class="btn btn-default">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Retour à la liste
            </a>
            
            {% if is_granted('ROLE_AUTEUR') %}
                <a href="{{ path('OC_advert_edit', {'id' : advert.id}) }}"  class="btn btn-default">
                    <i class="glyphicon glyphicon-chevron-edit"></i>
                    Modifier l'annonce
                </a> 

                <a  href="{{ path('OC_advert_delete', {'id' : advert.id}) }}"  class="btn btn-danger">
                    <i class="glyphicon glyphicon-chevron-trash"></i>
                    Supprimer l'annonce
                </a>
            {% endif %}
        </p>
    </section>

    <section>
        {# liste de candidature #}
        {% if listApplications is not empty %}

            {% if listApplications|length <= 1 %}
                <h2>Candidature</h2>
            {% else %}
                <h2>Liste de candidatures</h2>
            {% endif %}    

            {% for listApplication in listApplications %}
                <div class="well">
                    <h4>{{ listApplication.author }} a candidater le {{ listApplication.date | date }} </h4>
                    <p>{{ listApplication.content }}</p> 
                </div>                   
            {% endfor %}

        {% endif %}  
    </section>

    <section>
        {# {% for listAdverts in listAdvertsByCategory %} #}
            {# {{ dump(listAdverts) }} #}
        {# {% endfor %} #}
    </section>

{% endblock body %}