{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Annonce : {{ id }} {% endblock %}

{% block body %}

    <section>
        <h2>{{ advert.title }}</h2>
        <i>Par {{ advert.author }}, le {{ advert.date|date('d/m/Y') }}</i>

        <div class="well">
            <p> Tag éventuel : {{ tag }}</p>
            <p>{{ advert.content }}</p>
        </div>

        <p>
            <a href="{{ path('OC_advert_index') }}" class="btn btn-default">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Retour à la liste
            </a>

            <a href="{{ path('OC_advert_edit', {'id' : advert.id}) }}"  class="btn btn-default">
                <i class="glyphicon glyphicon-chevron-edit"></i>
                Modifier l'annonce
            </a> 

            <a  href="{{ path('OC_advert_delete', {'id' : advert.id}) }}"  class="btn btn-danger">
                <i class="glyphicon glyphicon-chevron-trash"></i>
                Supprimer l'annonce
            </a>
        </p>
    </section>

{% endblock body %}